# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data / outputs
data/*
outputs/*
!data/.gitkeep
!outputs/.gitkeep

# OS
.DS_Store
Thumbs.db
